<!--Author: ZHUHY-->
<!--Author: JINXY-->

	<div id="sectionResource" class="sectionWControl">
	<div class="sectionResource" ng-controller="resourceCtrl" >
					<div ng-repeat="obj in resources">
						<div id="sectionResourceEle" class="sectionResourceEle above">
							<div class="naughtyEleWrap">
								<div class="sectionResourceWrap">
									<img class="sectionResourceElePic" ng-src="{{obj.img}}" />
									<div class="sectionResourceEleTitle textB">{{obj.title}}</div>
									<div class="sectionResourceEleIntro textD">{{obj.intro}}</div>
								</div>
							</div>
						</div>
					</div>
	</div>
	<div style="clear: both;"></div>
</div>

<div class="section">
	<div id="sectionFacilitator" class="sectionWControl">
		<div class="sectionTitle textA">服务商的优势</div>
		<div id="sectionFacilitatorEle1" class="sectionFacilitatorEle">
			<div class="naughtyEleWrap">
				<img class="sectionFacilitatorElePic" src="images/sectionFacilitatorElePic(1).png" />
			</div>
		</div>
		<div id="sectionFacilitatorEle2" class="sectionFacilitatorEle">
			<div class="naughtyEleWrap">
				<img class="sectionFacilitatorElePic" src="images/sectionFacilitatorElePic(2).png" />
			</div>
		</div>
		<div id="sectionFacilitatorEle3" class="sectionFacilitatorEle lastEle">
			<div class="naughtyEleWrap">
				<img class="sectionFacilitatorElePic" src="images/sectionFacilitatorElePic(3).png" />
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>

<div id="sectionEnterprise " class="sectionWControl">
	<div class="sectionTitle textA">企业的优势</div>
	<div id="sectionEnterpriseEle1" class="sectionEnterpriseEle">
		<div class="naughtyEleWrap">
			<div class="naughtyEleWrap">
				<img class="sectionEnterpriseElePic" src="images/sectionEnterpriseElePic(1).png" />
			</div>
		</div>
	</div>
	<div id="sectionEnterpriseEle2" class="sectionFacilitatorEle">
		<div class="naughtyEleWrap">
			<div class="naughtyEleWrap">
				<img class="sectionEnterpriseElePic" src="images/sectionEnterpriseElePic(2).png" />
			</div>
		</div>
	</div>
	<div id="sectionEnterpriseEle3" class="sectionFacilitatorEle lastEle">
		<div class="naughtyEleWrap">
			<div class="naughtyEleWrap">
				<img class="sectionEnterpriseElePic" src="images/sectionEnterpriseElePic(3).png" />
			</div>
		</div>
	</div>
	<div style="clear: both;"></div>
</div>

<div class="section">
	<div id="sectionPartner" class="sectionWControl">
		<div class="sectionTitle textA">合作伙伴</div>
		<div id="sectionPartnerEle1" class="sectionPartnerEle above firste"></div>
		<div id="sectionPartnerEle2" class="sectionPartnerEle above seconde"></div>
		<div id="sectionPartnerEle3" class="sectionPartnerEle above thirde"></div>
		<div id="sectionPartnerEle4" class="sectionPartnerEle above fourthe"></div>
		<div style="clear: both;"></div>
		<div id="sectionPartnerEle5" class="sectionPartnerEle firste"></div>
		<div id="sectionPartnerEle6" class="sectionPartnerEle seconde"></div>
		<div id="sectionPartnerEle7" class="sectionPartnerEle thirde"></div>
		<div id="sectionPartnerEle8" class="sectionPartnerEle fourthe"></div>
		<div style="clear: both;"></div>
	</div>
</div>