<div class="sectionDistrictTabScroll">
	<div id="sectionDistrictLItem textC 1">
		<div class="sectionDistrictLItem textC  title">硅谷论剑 逐梦杭州</div>
		<div class="sectionDistrictLItem textC  date">2016-10-08</div>
		<div style="clear: both;"></div>
	</div>
	<div id="sectionDistrictLItem textC 2">
		<div class="sectionDistrictLItem textC  title">海外精英荟萃 梦想精彩绽放</div>
		<div class="sectionDistrictLItem textC  date">2016-10-08</div>
		<div style="clear: both;"></div>
	</div>
	<div id="sectionDistrictLItem textC 3">
		<div class="sectionDistrictLItem textC  title">飘洋过海只求贤</div>
		<div class="sectionDistrictLItem textC  date">2016-05-23</div>
		<div style="clear: both;"></div>
	</div>
	<div id="sectionDistrictLItem textC 4">
		<div class="sectionDistrictLItem textC  title">杭州赴美引才团圆满完成任务</div>
		<div class="sectionDistrictLItem textC  date">2016-05-18</div>
		<div style="clear: both;"></div>
	</div>
	<div id="sectionDistrictLItem textC 5">
		<div class="sectionDistrictLItem textC  title">美南中国专家协会联合会杭州行</div>
		<div class="sectionDistrictLItem textC  date">2016-05-17</div>
		<div style="clear: both;"></div>
	</div>
	<div id="sectionDistrictLItem textC 6">
		<div class="sectionDistrictLItem textC  title">中法青年企业家协会杭州考察活动</div>
		<div class="sectionDistrictLItem textC  date">2016-05-17</div>
		<div style="clear: both;"></div>
	</div>
	<div id="sectionDistrictLItem textC 7">
		<div class="sectionDistrictLItem textC  title">中法青年企业家协会杭州行</div>
		<div class="sectionDistrictLItem textC  date">2016-05-13</div>
		<div style="clear: both;"></div>
	</div>
	<div id="sectionDistrictLItem textC 8">
		<div class="sectionDistrictLItem textC  title">硅谷创业者联盟(SVACE)杭州行</div>
		<div class="sectionDistrictLItem textC  date">2016-05-11</div>
		<div style="clear: both;"></div>
	</div>
	<div id="sectionDistrictLItem textC 9">
		<div class="sectionDistrictLItem textC  title">中法青年企业家协会杭州行</div>
		<div class="sectionDistrictLItem textC  date">2016-05-10</div>
		<div style="clear: both;"></div>
	</div>
	<div id="sectionDistrictLItem textC 10">
		<div class="sectionDistrictLItem textC  title last">硅谷创业者联盟(SVACE)杭州行</div>
		<div class="sectionDistrictLItem textC  date last">2016-05-10</div>
		<div style="clear: both;"></div>
	</div>
</div>
<div class="moreButton textC" id="moreInfo">
	更多信息
</div>