<div class="sectionDistrictTabScroll">
	<div class="sectionDistrictREle above">
		<div class="picWrap" style="width: 100%;height: auto;">
			<img class="sectionDistrictRPic strain" style="margin-left:auto;margin-right:auto;float:none;" src="images/sectionDistrictSubPic1.jpg" />
		</div>
		<div class="sectionDistrictRDetail">
			<div class="districtPitch" style="float: left;"></div>
			<p class="sectionDistrictRDTitle textC">中国杭州留学人员高新区创业园</p>
			<p class="sectionDistrictRDAddress textE">地址：杭州市滨江区江南大道100号行政中心5楼</p>
			<p class="sectionDistrictRDTel textE">电话：0537-86794698</p>
		</div>
	</div>
	<div class="sectionDistrictREle">
		<div class="picWrap" style="width: 100%;height: auto;">
			<img class="sectionDistrictRPic strain" style="margin:0 auto;float:none;" src="images/sectionDistrictSubPic2.jpg" /></div>
		<div class="sectionDistrictRDetail">
			<div class="districtPitch" style="float: left;"></div>
			<p class="sectionDistrictRDTitle textC">杭州市经济技术开发区留学人员创业区</p>
			<p class="sectionDistrictRDAddress textE">地址：杭州市经济技术开发区学林街1288号</p>
			<p class="sectionDistrictRDTel textE">电话：0537-86794698</p>
		</div>
	</div>

</div>
<div class="moreButton textC" id="morePark">
	更多园区
</div>